body{
	background-color: lightgray;
}
div{
	margin:0 auto 0 auto;
	}
span.mensagemSistema,td.mensagemSistema{
	font-size: medium;
	font-weight: bold;
	color: red;
}
.alignCenter{
	margin-right: auto;
	margin-left: auto;
}
.divBanner{
	width: 802px;
	height: 250px;
	margin: 0px auto 0px auto;
}
table.main{
	width: 90%;
	margin: 0 auto 0 auto;
	border:0;
	background-color: lightgray;
}
table.main td{
	width:50%;
	background-color: lightgray;
}

iframe.detalhes{
	width:100%;
	height:100%;
	border: 0;
	background-color: lightgray;
	
}
table.lista{
	width:500px;
}
table.detalhes{
	width: 500px;
}
table tr.link{
	cursor: pointer;
}
table tr td.img {
	width: 50px;
	background-color: white;
	padding: 5px 10px 5px 10px;
}

table tr td.nome {
	width: 450px;
	background-color: white;
	font-size: large;
	padding: 5px 10px 5px 10px;
}
table tr td {
	background-color: white;
	padding: 5px 10px 5px 10px;
}
div.alignCenter{
	width: 120px;
	margin: 0px auto 0px auto;
}
input.permissao{
	height: 30px;
	background-color: white;
	color: black;
	font-weight: bold;
	margin: 15px auto 15px auto;
	font-size: medium;
}
input.voltar{
	width: 100px;
	height: 30px;
	background-color: white;
	color: black;
	font-weight: bold;
	margin: 15px auto 15px auto;
	font-size: medium;
}
input.publicar{
	float: left;
	height: 30px;
	background-color: lightgray;
	color: black;
	font-weight: bold;
	margin: 15px auto 15px auto;
}
input.confirmar{
	float: right;
	height: 30px;
	background-color: lightgray;
	color: black;
	font-weight: bold;
	margin: 15px auto 15px auto;
}
div.usuario{
	width: 420px;
	height: 70px;
	margin: 10px auto 10px auto;
	background-color: white;
	font-size: large;
}

div.usuario img{
	float:left;
	padding:10px 5px 10px 5px;
}
div.usuario span{
	float:right;
	margin:10px 10px 10px 10px;
}
table.termometro{
	width: 900px;
}
table tr td.termometro {
	width:400px;
	background-color: white;
	padding: 5px 10px 5px 10px;
}
input.termometro{
	width: 200px;
	height: 30px;
	background-color: white;
	color: black;
	font-weight: bold;
	margin: 15px auto 15px auto;
	font-size: medium;
}

div.termometro0{
	margin: 0 auto 0 auto;
	color:black;
	font-size:100px;
	width:109px;
	height:306px;
	background-image: url("../imagem/gelado.jpg");
}

div.termometro20{
	margin: 0 auto 0 auto;
	color:blue;
	font-size:100px;
	width:109px;
	height:306px;
	background-image: url("../imagem/frio.jpg");
}

div.termometro40{
	margin: 0 auto 0 auto;
	color:yellow;
	font-size:100px;
	width:109px;
	height:306px;
	background-image: url("../imagem/morno.jpg");
}

div.termometro60{
	margin: 0 auto 0 auto;
	color:orange;
	font-size:100px;
	width:109px;
	height:306px;
	background-image: url("../imagem/quente.jpg");
}

div.termometro80{
	margin: 0 auto 0 auto;
	color:red;
	font-size:100px;
	width:109px;
	height:306px;
	background-image: url("../imagem/bombar.jpg");
}
div span.legenda {
	font-size: 20px;
	font-weight: bold;
	width: 300px !important;
	margin:0 auto 0 auto;
	background-color: lightgray;
	text-align: center;
}